---
layout: default
title: Home
image: https://ik.imagekit.io/dsg/tkYbuJbVcaW9sxD69h8HGPeHw_U__DkguQxUDntS.png?tr=w-1200,h-630,fo-auto
pagination:
  enabled: true
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <!-- Posts Index
    ================================================== -->
    <div class="blog-grid-container">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>

    <!-- Pagination
    ================================================== -->
    <div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
    </div>
  </body>
</html>
