<div id="my-keen-slider-box-video" class="keen-slider">
    <div class="keen-slider__slide number-slide1">
        <div class="video-container">
            <a href="https://youtu.be/Izp5VNnf04Y">
            <img src="https://img.youtube.com/vi/Izp5VNnf04Y/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Apa Perbedaan Remake, Reboot dan Remaster Pada Video Game?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide number-slide2">
        <div class="video-container">
            <a href="https://youtu.be/OOM7K-reYyk">
            <img src="https://img.youtube.com/vi/OOM7K-reYyk/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Apa Itu Bug/Glitch Pada Video Game?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide number-slide3">
        <div class="video-container">
            <a href="https://youtu.be/8xNkxGg8LHs">
            <img src="https://img.youtube.com/vi/8xNkxGg8LHs/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Bagaimana Cara Mengoptimalkan Pengaturan Graphics Video Game?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide number-slide4">
        <div class="video-container">
            <a href="https://youtu.be/xaM4cvbAxk8">
            <img src="https://img.youtube.com/vi/xaM4cvbAxk8/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Apa Itu Ping Pada Game?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide number-slide5">
        <div class="video-container">
            <a href="https://youtu.be/v9EIwMSVMsM">
            <img src="https://img.youtube.com/vi/v9EIwMSVMsM/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Bagaimana Suara/Sound Effects Pada Game Bekerja?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide number-slide6">
        <div class="video-container">
            <a href="https://youtu.be/y_NaAor4mJ4">
            <img src="https://img.youtube.com/vi/y_NaAor4mJ4/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Apa Itu Save Game dan Apa yang dilakukan?</h2>
            </div>
            </a>
        </div>
    </div>
</div>