<div id="my-keen-slider-box-video" class="keen-slider">
    <div class="keen-slider__slide">
        <div class="video-container">
            <a href="https://youtu.be/oOnbgzKCPto">
            <img src="https://img.youtube.com/vi/oOnbgzKCPto/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Ambient Occlusion Mana yang Terbaik?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide">
        <div class="video-container">
            <a href="https://youtu.be/ZLBee4Ngreo">
            <img src="https://img.youtube.com/vi/ZLBee4Ngreo/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Mengapa GPU Semakin Mahal</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide">
        <div class="video-container">
            <a href="https://youtu.be/q-0Of1QWLgI">
            <img src="https://img.youtube.com/vi/q-0Of1QWLgI/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Bloom, Efek Grafis Cahaya yang Signifikan</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide">
        <div class="video-container">
            <a href="https://youtu.be/Izp5VNnf04Y">
            <img src="https://img.youtube.com/vi/Izp5VNnf04Y/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Apa Perbedaan Remake, Reboot dan Remaster Pada Video Game?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide">
        <div class="video-container">
            <a href="https://youtu.be/OOM7K-reYyk">
            <img src="https://img.youtube.com/vi/OOM7K-reYyk/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Apa Itu Bug/Glitch Pada Video Game?</h2>
            </div>
            </a>
        </div>
    </div>
    <div class="keen-slider__slide">
        <div class="video-container">
            <a href="https://youtu.be/8xNkxGg8LHs">
            <img src="https://img.youtube.com/vi/8xNkxGg8LHs/maxresdefault.jpg" alt="" class="image">
            <div class="video-overlay">
                <h2 class="video-text">Bagaimana Cara Mengoptimalkan Pengaturan Graphics Video Game?</h2>
            </div>
            </a>
        </div>
    </div>
</div>
