---
layout: default
---

<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>

<!-- Add this before adding pagination category or tag
================================================== -->
<h4 class="mt-5 mb-neg-30""><span class="text-capitalize badge badge-primary text-small author-span">{{ page.author }}</span><span class="author-span-badge">{{page.status}}</span></h4>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% assign filtered_posts = site.posts | where: 'author', page.code_name %}
    {% for post in filtered_posts limit: 6%}
        {% include postbox.html %}
    {% endfor %}
</div>


