---
layout: default
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
  <div class="home">
    <a href="{{ post.url }}">
      {% for post in site.posts %}
      <div class="feed">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <hr class="divider">
          <div class="excerpt">
            <div class="row">
              <div class="column">
                <div class="feature-image-div">
                <a href="{{ post.url }}">
                  {% if post.feature-img %}
                    <img class="feature-image" src={{ post.feature-img }} alt="Feature Image"/>
                  {% endif %}
                </a>
                </div>
              </div>
              <div class="column">
                <div class="date">
                  <p class="date-in"> {{post.date | date: "%-d %B, %Y"}}</p>
                </div>
                <div class="excerpt-content">{{ post.excerpt }}</div>
              </div>
            </div>
          </div>
      </div>
    </a>
      {% endfor %}
  </div>
  </body>
</html>
